## list - 2

In [1]:
list1 = [11,22,33,44]
list1.append([55,66]) # 맨 마지막에 리스트 항목 하나를 추가해준다.
list1

[11, 22, 33, 44, [55, 66]]

In [2]:
list1 = [11,22,33,44]
list1.extend([55,66]) # 연산자와 같은 개념. 안의 내용을 추가해준다.
list1

[11, 22, 33, 44, 55, 66]

In [5]:
mylist = [30,20,10]
print("현재 리스트 : %s" % mylist)

mylist.append(40)
print("append(40) 후의 리스트 : %s"%mylist)

print("pop()으로 추출한 값 : %s"%mylist.pop())
print("pop() 후의 리스트 : %s"%mylist)

# sort = 오름차순 정렬, reverse = 역 정렬, index(n) = 해당 원소의 위치
# insert(n,m) = n index에 m을 추가. remove(n) = 특정 원소 삭제
# extend = 원소형태로 변형해서 추가.

현재 리스트 : [30, 20, 10]
append(40) 후의 리스트 : [30, 20, 10, 40]
pop()으로 추출한 값 : 40
pop() 후의 리스트 : [30, 20, 10]

In [7]:
mylist = [30,20,10]
newlist = sorted(mylist)
print("sorted() 후의 mylist : %s"%mylist)
print("sorted() 후의 newlist : %s"%newlist)

sorted() 후의 mylist : [30, 20, 10]
sorted() 후의 newlist : [10, 20, 30]

## range를 사용한 list

In [8]:
list1 = list()        # 리스트 생성법 - 1
list2 = []            # 리스트 생성법 - 2
list3 = list((1,2,3)) # 리스트 생성법 - 3

list3

[1, 2, 3]

In [10]:
list4 = list(range(1,10)) # range(1,10)은 1~9까지이다.
list4

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list5 = list('ABCDEF') # 문자열의 경우 하나하나 따로 분류함.
list5

['A', 'B', 'C', 'D', 'E', 'F']

In [14]:
# 응용 - 1

even_list = list(range(2,12,2))
print("even_list = %s"%even_list)

even_list = [2, 4, 6, 8, 10]

In [17]:
# 응용 - 2

nations = ['Korea', 'China', 'India', 'Nepal']
print("nations = %s"%nations)

nations = ['Korea', 'China', 'India', 'Nepal']

In [19]:
# 응용 - 3

friends = ['길동', '철수', '은지', '지은', '영민']
print("friends = %s"%friends)

friends = ['길동', '철수', '은지', '지은', '영민']

In [22]:
# 응용 - 4

string = ['X', 'Y', 'Z']
print("string = %s",string)

string = %s ['X', 'Y', 'Z']

## 기타 list 방식

In [25]:
list1 = [11,22,33,44,55,66,77]
print(list1)

del list1[3] # 4번째 원소가 삭제됨. del 44 같은 방법 x
print(list1)

[11, 22, 33, 44, 55, 66, 77]
[11, 22, 33, 55, 66, 77]

In [28]:
list1 = [11,22,33,44,55,66,77]
print(list1)

list1.remove(44) # 특정 원소가 삭제 가능. 단 없는 원소면 오류남.
print(list1)

[11, 22, 33, 44, 55, 66, 77]
[11, 22, 33, 55, 66, 77]

In [31]:
# in, not in 연산자

list2 = [10,20,30,40]

print(10 in list2)
print(10 not in list2)

True
False

In [34]:
# max, min, sum

list3 = [10,20,30,40,50]

print(min(list3)) # 최소값
print(max(list3)) # 최댓값
print(sum(list3)) # 전체 list 합

10
50
150

## 2차원 list

In [ ]:
# 1차원 list

aa = [10,20,30]

# 2차원 list
bb = [[1,2,3,4],
     [5,6,7,8],
     [9,10,11,12]]

In [35]:
# 2차원 list 생성 함수

list1 = []
list2 = []

value = 1

for i in range(0,3):
    for j in range(0,4) :
        list1.append(value)
        value += 1
    list2.append(list1)
    list1 = []

for i in range(0,3):
    for j in range(0,4):
        print("%3d"%list2[i][j], end=" ")
    print("")

  1   2   3   4
  5   6   7   8
  9  10  11  12