## for문

In [1]:
# for문을 활용한 합계 구하기

i, hap = 0,0

for i in range(1,11,1) : 
    hap = hap + i
    
print("1에서 10까지의 합계 : %d" % hap)

1에서 10까지의 합계 : 55

In [4]:
# range 활용

i, hap = 0,0

for i in range(50,1001,2) :
    hap = hap + i
    
print("50~1000까지의 짝수 합계 : %d" % hap)

50~1000까지의 짝수 합계 : 249900

In [6]:
# input 추가

i, hap = 0,0
num = int(input("값을 입력하시오 : "))

for i in range(1, num+1, 1):
    hap = hap + i
    
print("1에서 %d까지의 합계 : %d" %(num,hap))

값을 입력하시오 : 10
1에서 10까지의 합계 : 55

In [7]:
# 입력받은 구구단 출력

i, dan = 0,0

dan = int(input("단을 입력하세요 : "))

for i in range(1,10,1) :
  print("%d * %d = %d"%(dan,i,dan*i))

단을 입력하세요 : 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [8]:
# 팩토리얼 계산

n = int(input("정수를 입력하시오 : "))

fact = 1
for i in range(1,n+1):
    fact = fact * i
    
print(n, "!은", fact, "이다.")

정수를 입력하시오 : 10
10 !은 3628800 이다.

## list형

In [10]:
# 수의 합

aa = []
for i in range(0,4) :
    aa.append(0)
hap = 0

for i in range(0,4) :
    aa[i] = int(input(str(i+1) + "번째 숫자 : "))

hap = aa[0] + aa[1] + aa[2] + aa[3]

print("합계 ==> %d" % hap)

1번째 숫자 : 1
2번째 숫자 : 2
3번째 숫자 : 3
4번째 숫자 : 4
합계 ==> 10

In [ ]:
# 리스트 생성과 초기화
 
aa = [] # 빈 리스트
bb = [10,20,30] # 숫자 리스트(정수)
cc = ['파이썬', '공부는', '잼'] # 문자열로 구성된 리스트
dd = [10,20,'파이썬'] # 문자열, 정수 섞여서 가능.

In [11]:
# 방법 - 1

aa = [10,20,30,40]
aa[-4] # n개면 -n까지 존재.

10

In [13]:
# 방법 - 2

aa = [10,20,30]
bb = [40,50,60]
print(aa+bb) # 리스트 항목이 추가된다.
print(aa * 3) # 리스트의 항목이 3번 복사된다.

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [14]:
# 방법 - 3

aa = [10,20,30,40]
print(aa[2:]) # 숫자에 조심. 0부터 시작이다.
print(aa[:2])

[30, 40]
[10, 20]

In [17]:
# 방법 - 4

aa = [10,20,30,40,50,60,70]
print(aa[::2]) # n칸씩 띄워읽기.
print(aa[::-2]) # -가 붙으면 반대시작.
print(aa[::-1]) # 반대부터 출력

[10, 30, 50, 70]
[70, 50, 30, 10]
[70, 60, 50, 40, 30, 20, 10]

In [19]:
# 방법 - 5

aa = [10,20,30]
aa[1] = [200,201]
aa # aa라는 리스트에 2번째 부분에 기입된다.

[10, [200, 201], 30]

In [20]:
# 방법 - 6

aa = [10,20,30]
del(aa[1]) # 2번째 항목을 지운다
aa

[10, 30]

In [23]:
# 방법 - 7

aa = [10,20,30,40,50]
aa[1:4] = [] # 빈 리스트로 만든다 출력은 1번째와 5번째만 존재한다.
aa

[10, 50]

In [24]:
# 방법 - 8

aa = [10,20,30]
aa = [] # 리스트 삭제 빈 [] 대신 None을 입력하면 아무것도 안뜸.
aa

[]